<!doctype html>
<html lang="en">
  <head id="headmod">
    <meta charset="UTF-8" />
    <title>功能表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>VANILLA_VERSION = "3.8.0";</script>

  <link rel="stylesheet" href="/static/css/vanilla380.css" />
  <link rel="stylesheet" href="/static/css/selfmod.css" />
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/selfmodjs.js" ></script>
  <!-- <script src="selfmodjs.js" ></script>  -->
    
  </head>

<body>

    <a href="#main-content" class="p-link--skip">Jump to main content</a>
<!-- <div class="modbg"> -->
<div class="toTop" onclick="$(document).scrollTop(0);"></div>
<header id="navigation" class="p-navigation opacity60">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__item" href="/">
          <img class="p-navigation__image" src="/static/img/logo.jpg" style="height:1.5rem" alt="manual">
        </a>
      </div>
      <ul class="p-navigation__items" id="menu-button">
        <li class="p-navigation__item">
        </li>
        <li class="p-navigation__item">
          <button class="js-menu-button p-navigation__link">导航</button>
        </li>
      </ul>
    </div>
    <nav class="p-navigation__nav" aria-label="Main">
      <ul class="p-navigation__items">
        <li class="p-navigation__item is-selected"><a class="p-navigation__link" href="/">主页</a></li>
        <li class="p-navigation__item "><a class="p-navigation__link" href="/">博客</a></li>
        <li class="p-navigation__item"><a class="p-navigation__link" href="/wiki">Wiki</a></li>
        <li class="p-navigation__item"><a class="p-navigation__link" href="/about">About</a></li>
      </ul>
      <ul class="p-navigation__items u-align--right">
        <li id="floatsearchbox" class="p-navigation__item" style="height:50px;">
            <div class="p-search-box search">
                <label class="u-off-screen" for="search">Search</label>
                <input type="search" id="key-word" class="p-search-box__input key-word" placeholder="搜索" required="" autocomplete="on">
                <!-- <button type="reset" class="p-search-box__reset"><i class="p-icon--close">Close</i></button> -->
                <button id="search-button" ><i class="p-icon--search">搜索</i></button>
            </div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="p-navigation__search-overlay"></div>
</header>
    


    
<div class="p-strip is-shallow">
  <div class="row">
    <aside class="col-3">
      <nav class="p-side-navigation is-drawer-hidden" id="side-navigation-drawer" aria-label="Side">
        <a href="#side-navigation-drawer" class="p-side-navigation__toggle js-drawer-toggle" aria-controls="side-navigation-drawer" aria-expanded="false">
          展开功能表
        </a>

        <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="side-navigation-drawer" aria-expanded="false"></div>

        <div class="p-side-navigation__drawer">
          <div class="p-side-navigation__drawer-header">
            <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="side-navigation-drawer" aria-expanded="false">
              收起
            </a>
          </div>

            {% if SERVICE_MODE == 1 %}
                {% if latest is not none %}
            

            <ul class="p-side-navigation__list">
              <li class="p-side-navigation__item--title"><span class="p-side-navigation__text">Welcome</span></li>
              

                    {% for sv in latest.services %}

              <li class="p-side-navigation__item">
                  <a class="p-side-navigation__link" href="#a{{ sv.name }}">
                        {{ sv.name }}
                  </a>
                </li>

                    {% endfor %}
            </ul>
                {% endif %}
            {% endif %}
              



            <ul class="p-side-navigation__list">
              <li class="p-side-navigation__item--title"><span class="p-side-navigation__text">全部功能</span></li>
              {% for service in services %}
              <li class="p-side-navigation__item">
                  <a class="p-side-navigation__link" href="#a{{ service.name }}" >
                    {{ service.name }}
                  </a>
                </li>
              {% endfor %}

            </ul>


          </div>
        </nav>

      </aside>

      <main class="col-9" id="main-content">
        {% for service in services %}
            <h1 id="a{{  service.name  }}"></h1>
            <div id="a{{  service.name  }}content"></div>
            {{ service.help }}
        {% endfor %}

      </main>

    </div>
    </div>

    <script>
      window.Prism = window.Prism || {};
      Prism.manual = true;
    </script>
    <script defer src="/static/js/prism.min.js"></script>

    <footer class="p-strip--light">

</footer>


    <script src="/static/js/scripts.js"></script>
<!-- </div> -->
  </body>
</html>